/* --- --- Page --- --- */

body{
    background-color: #F5F5F5;
}

/* --- --- Links --- --- */

.link{
    color: #5a5189;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    height: 25px;
    border-radius: 7px;
    border-color: #DFDFDF;
    border-width: 2px;
    border-style: solid;
    background-color: white;
}

/* --- --- Icons --- --- */

.icons{
    color: black;
}

/* --- --- Pie Chart --- --- */

canvas { 

    max-width: 500px; 
    margin: 20px auto; 
    display: block; 
}

/* --- --- Text Input --- --- */

.input{

   height: 25px;
   border-radius: 7px;
   border-color: #DFDFDF;
   border-width: 2px;
   border-style: solid;
}

/* --- --- Topbar --- --- */

.topbar-bar {
    background-color: #303030;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topbar-img {
    width: 100%; 
    max-width: 50px; 
    max-height: 50px; 
    height: auto; 
    margin-top: auto; 
    margin-bottom: auto; 
    padding-left: 5px;
}

/* --- --- Dropdown --- --- */

.dropdown {
    position: relative;
    margin-right: 14px;
}

.options {
    display: none;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.option {
    padding: 10px 15px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.option:hover {
    background-color: #f1f1f1; 
}

/* --- --- Popup --- --- */

.popup {

    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 225px;
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.overlay {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* --- --- Button --- --- */

.round-button {
    background-color: #1E1E1E;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    cursor: pointer;

    margin-top: auto; 
    margin-bottom: auto;
    margin-right: 14px;
}

.round-button:hover {
    background-color: #131313;
}

.round-button:active {
    transform: scale(0.9);
}

.big-btn{

    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.big-btn:hover {
    background-color: #f1f1f1;
}

.big-btn:active {
    transform: scale(0.9);
}

.normal-btn{

    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    border-color: #DFDFDF;
    border-width: 2px;
    border-style: solid;
}

.normal-btn:hover {
    background-color: #f1f1f1;
}

.normal-btn:active {
    transform: scale(0.9);
}

/* --- --- Text/Title --- --- */

.topbar-title {
    font-family: Arial, Helvetica, sans-serif; 
    color: black; 
    font-size: large; 
    padding-left: 5px;
}

.title {
    font-family: Arial, Helvetica, sans-serif; 
    color: black; 
    font-size: large; 
    padding-left: 5px;
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* --- --- Boxes --- --- */

.info-box{

    background-color: #FFFFFF;
    border-radius: 7px;
    text-align: center;
    border-color:#a5e1cd;
    border-width: 2px;
    border-style: solid;
    width: 95%;
    margin: auto;
}

.big-box{

    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.normal-box{

    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    border-color: #DFDFDF;
    border-width: 2px;
    border-style: solid
}

.small-box{

    background-color: #F5F5F5;
    width: 90%;
    height: 60px;
    width: 60px;
    border-radius: 7px;
    margin-left: 25px;
}

/* --- --- File input --- --- */

input[type="file"]::file-selector-button {

    background-color: #FFFFFF;
    height: auto;
    border-radius: 7px;
    border-color: #DFDFDF;
    border-width: 2px;
    border-style: solid;
    color: black;
}

input[type="file"]::file-selector-button:hover {
  background-color: #f1f1f1;
}

/* --- --- Nummber input --- --- */

/* Hide Native arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-number-input {

    display: flex;
    align-items: center;
    height: 25px;
    border-radius: 7px;
    border-color: #DFDFDF;
    border-width: 2px;
    border-style: solid;
    background-color: #FFFFFF;
    color: black;
    width: 100%;
    margin-top: 10px;
}

.custom-number-input input {
  background: transparent !important;
  border: none !important;
  color: black;
  outline: none;
}

.spin-buttons {
  display: flex;
  flex-direction: column;
  color: #1d1d1d;
}

.spin-buttons .material-icons {
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

.spin-buttons .material-icons:hover {
  color: black;
}