<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header></header>
    <main>
      <div class="topbar-bar">

        <div style="display: flex;">

          <div style="display: flex;">
            <img class="topbar-img" src="{{ url_for('static', filename='logo.png') }}">
            <p id="projectTitle" class="topbar-title"> Hardware Management Tool </p>
          </div>

          <div style="display: flex; position: absolute; right: 0px;">

            <p class="topbar-title" style="margin-right: 5px;" id="user"> User </p>

            <button class="round-button" id="dropdownButton" onclick="toggleDropdown()">
              <span class="material-icons">account_circle</span>
            </button>

            <div class="options" id="dropdownOptions">
                <a class="option" onclick="toLogin()" id="loginOption" style="display: none;">Anmelden</a>
                <a class="option" onclick="logout()" id="logoutOption" style="display: none;">Abmelden</a>
                <a class="option" onclick="toChangePW()" id="changePwOption" style="display: none;">Passwort ändern </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Login Popup -->

      <div class="loginOverlay"> </div>
      <div class="loginPopup">
        <div style="display: flex;">
          <h2 style="font-family: Arial, Helvetica, sans-serif; text-align: center;">Anmelden</h2>
          <button onclick="closeToLogin()" class="normal-btn" style="margin-left: 50%; margin-top: 6.5%; width: 28px; height: 28px;">
            <span style="margin: auto; font-size: 15px;" class="material-icons">close</span>
        </div>
        <div>
          <div style="display: flex; width: 98%;"> 
            <div class="normal-box" style="height: 28px; width: 35px;">
              <span style="margin-left: 2.5px;" class="material-icons">key</span>
            </div>
            <input class="input" style="width: 100%; margin: auto;" type="password" id="loginInput" placeholder="Password">
          </div>
          <br>
          <div style="display: flex;">
            <button class="normal-btn" style="width: 100%; height: 30px;" onclick="login()"> Anmelden </button>
          </div>
          <br>
          <div>
            <div id="infoBoxLogin" class="info-box" style="display: none;">
              <p id="infoTextLogin" style="color: #000000; display: none;"> Anmeldung - - - </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Change PW Popup -->

      <div class="changePWOverlay"> </div>
      <div class="changePWPopup">
        <div style="display: flex;">
          <h2 style="font-family: Arial, Helvetica, sans-serif;">Passwort ändern</h2>
          <button onclick="closeToChangePW()" class="normal-btn" style="margin-left: 50%; margin-top: 6.5%; width: 28px; height: 28px;">
            <span style="margin: auto; font-size: 15px;" class="material-icons">close</span>
          </button>
        </div>
        <div>
          <div style="display: flex; width: 98%;"> 
            <div class="normal-box" style="height: 28px; width: 35px;">
              <span style="margin-left: 2.5px;" class="material-icons">key</span>
            </div>
            <input class="input" style="width: 100%; margin: auto;" type="password" id="currentPasswort" placeholder="Altes Password">
          </div>
          <br>
          <div style="display: flex; width: 98%;"> 
            <div class="normal-box" style="height: 28px; width: 35px;">
              <span style="margin-left: 2.5px;" class="material-icons">key</span>
            </div>
            <input class="input" style="width: 100%; margin: auto;" type="password" id="newPasswort" placeholder="Neues Password">
          </div>
          <br>
          <div style="display: flex; width: 98%;"> 
            <div class="normal-box" style="height: 28px; width: 35px;">
              <span style="margin-left: 2.5px;" class="material-icons">key</span>
            </div>
            <input class="input" style="width: 100%; margin: auto;" type="password" id="repeatPasswort" placeholder="Password wiederholen">
          </div>
          <br>
          <div style="display: flex;">
            <button class="normal-btn" style="width: 100%; height: 30px;" onclick="changePw()"> Passwort ändern </button>
          </div>
          <br>
          <div>
            <div id="infoBoxChangePW" class="info-box" style="display: none;">
              <p id="infoTextChangePW" style="color: #000000; display: none;"> Änderung - - - </p>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div style="display: flex;">
        <button id="search-btn" onclick="toSearch()" class="big-btn"> 
          <p style="font-size: 25px;"> Suche </p>
          <div style="background-color: #CFC4FF; border-radius: 7px; height: 50px; width: 50px; margin: auto;">
            <span style="padding-top: 12px; color: #FFFFFF;" class="material-icons">search</span>
          </div>
          <br>
        </button>

        <button id="log-btn" onclick="toLog()" class="big-btn" style="display: none;"> 
          <p style="font-size: 25px;"> Logs </p>
          <div style="background-color: #FF7D7D; border-radius: 7px; height: 50px; width: 50px; margin: auto;">
            <span style="padding-top: 12px; color: #FFFFFF;" class="material-icons">description</span>
          </div>
          <br>
        </button>

         <button id="device-btn" onclick="toDevice()" class="big-btn"> 
          <p style="font-size: 25px;"> Geräte erstellen </p>
          <div style="background-color: #A5E1CD; border-radius: 7px; height: 50px; width: 50px; margin: auto;">
            <span style="padding-top: 12px; color: #FFFFFF;" class="material-icons">computer</span>
          </div>
          <br>
        </button>

         <button id="typ-btn" onclick="toType()" class="big-btn" style="display: none;"> 
          <p style="font-size: 25px;"> Typ erstellen </p>
          <div style="background-color: #FFD579; border-radius: 7px; height: 50px; width: 50px; margin: auto;">
            <span style="padding-top: 12px; color: #FFFFFF;" class="material-icons">copy_all</span>
          </div>
          <br>
        </button>
      </div>
      <br>

      <div style="display: flex;">
        <div class="big-box">
          <p style="font-size: 25px; text-align: center;"> Geräte in Zustand </p>
          <canvas id="statusChart"></canvas>
        </div>

        <div class="big-box">
          <p style="font-size: 25px;; text-align: center;"> Inventarisierte Geräte </p>
          <div style="display: flex;">
            
            <div style="background-color: #F5F5F5; width: 90%; height: 60px; width: 60px; border-radius: 7px; margin-left: 25px;">
              <span style="padding-top: 12px; color: #000000; margin-left: 15.5px; margin-top: 5px;" class="material-icons">computer</span>
            </div>

            <div style="background-color: #F5F5F5; width: 90%; height: 60px; border-radius: 7px; margin-left: 25px; margin-right: 25px;">
              <p id="totalDevices" style="font-size: 20px; text-align: center;"> - - - </p>
            </div>

          </div>
        </div>
      </div>

    </main>
    <footer>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="{{ url_for('static', filename='script.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </footer>
  </body>
</html>
