<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header></header>
    <main>

        <h1>type</h1>
        <button onclick="toHome()"> Home </button>

        <div style="display: flex; width: 15%;"> 
          <p> test</p>
          <input style="height: 50%; margin: auto;" type="text">
        </div>

        <div style="display: flex; width: 15%;"> 
          <p> test</p>
          <input style="height: 50%; margin: auto;" type="text">
        </div>

        <input type="text">
        
    </main>
    <footer>
       <script src="{{ url_for('static', filename='script.js') }}"></script>
    </footer>
  </body>
</html>
