<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header></header>
    <main>
      <div class="topbar-bar">

        <div style="display: flex;">

          <div style="display: flex;">
            <img class="topbar-img" src="{{ url_for('static', filename='logo.png') }}">
            <p id="projectTitle" class="topbar-title"> Hardware Management Tool </p>
          </div>

          <div style="display: flex; position: absolute; right: 0px;">

            <p class="topbar-title" style="margin-right: 25px;" id="user"> User </p>

          </div>
        </div>
      </div>

      <br>

      <div class="big-box" style="height: 50px; display: flex; width: 99.2%;">
        
        <button onclick="toHome()" class="normal-btn" style="width: 40px; height: 40px; margin-top: 5px;">
          <span style="margin: auto; font-size: 15px;" class="material-icons">arrow_back</span>
        </button>

        <p class="topbar-title" style="color: #000000; margin: auto; font-size: 30px;"> Geräte Typ </p>

      </div>

      <br>

      <div id="infoBox" class="info-box" style="width: 99.2%; display: none;">
        <p id="infoText" style="color: #000000; display: none;" > Typ - - - </p>
      </div>

      <br>

      <div class="big-box" style="width: 99.2%;">

        <br>

        <div style="display: flex; width: 98%;"> 
          <p style="margin-left: 10px;"> Name </p>
          <div class="normal-box" style="height: 28px; width: 35px; margin-top: 10px;">
            <span style="margin-left: 2.5px; margin-top: 2px;" class="material-icons">label</span>
          </div>
          <input class="input" style="width: 100%; margin: auto;" type="text" id="name" placeholder="Name">
        </div>

        <div style="display: flex; width: 98%;"> 
          <p style="margin-left: 10px;"> Geräteart </p>
          <div class="normal-box" style="height: 28px; width: 35px; margin-top: 10px;">
            <span style="margin-left: 4px; margin-top: 2px;" class="material-icons">computer</span>
          </div>
          <input class="input" style="width: 100%; margin: auto;" type="text" id="device_type" placeholder="Geräteart">
        </div>

        <div style="display: flex; width: 98%;"> 
          <p style="margin-left: 10px; white-space: nowrap;"> Garantie in Monate </p>
          <div class="normal-box" style="height: 28px; width: 35px; margin-top: 10px;">
            <span style="margin-left: 4px; margin-top: 2px;" class="material-icons">calendar_month</span>
          </div>
          <input class="input" style="width: 100%; margin: auto;" type="number" id="warranty" placeholder="Garantie">
        </div>

        <div style="display: flex; width: 98%;"> 
          <p style="margin-left: 10px;"> Hersteller </p>
          <div class="normal-box" style="height: 28px; width: 35px; margin-top: 10px;">
            <span style="margin-left: 4px; margin-top: 2px;" class="material-icons">factory</span>
          </div>
          <input class="input" style="width: 100%; margin: auto;" type="text" id="manufacturer" placeholder="Hersteller">
        </div>

        <div style="display: flex; width: 98%;"> 
          <p style="margin-left: 10px;"> Produkt </p>
          <div class="normal-box" style="height: 28px; width: 35px; margin-top: 10px;">
            <span style="margin-left: 4px; margin-top: 2px;" class="material-icons">pallet</span>
          </div>
          <input class="input" style="width: 100%; margin: auto;" type="text" id="product_url" placeholder="Produkt URL">
        </div>

        <div style="display: flex; width: 98%;">
          <p style="margin-left: 10px;"> Bild </p>
          <div class="normal-box" style="height: 28px; width: 35px; margin-top: 10px;">
            <span style="margin-left: 1px; margin-top: 2px;" class="material-icons">image</span>
          </div>

          <input class="input" style="width: 100%; margin-top: 10px;" type="file" id="image_file" accept="image/*" placeholder="Bild">

          <div id="img_display" style="display: none;">
            <div class="big-box" style="width: 200px; height: 200px; margin-left: 50px;">
              <img id="img" style="height: 90%; width: 90%; display: block; margin: auto; padding-top: 10px; border-radius: 7px;" src="{{ url_for('static', filename='image_arrow_up.png') }}">
            </div>

            <div class="big-box" style="height: 50px; width: 200px; margin-left: 50px; margin-top: 5px; display: flex;">
              <button onclick="downloadImg()" class="normal-btn" style="width: 40px; height: 40px; margin-top: 5px;">
                <span style="margin: auto; font-size: 15px;" class="material-icons">download</span>
              </button>
              <p id="img_name" style="margin: auto;"> - - - </p>
            </div>
          </div>
        </div>

        <br>

        <div style="display: flex; width: 98%;"> 
          <p style="margin-left: 10px;"> Kommentar </p>
          <div class="normal-box" style="height: 28px; width: 35px; margin-top: 10px;">
            <span style="margin-left: 4px; margin-top: 2px;" class="material-icons">comment</span>
          </div>
          <input class="input" style="width: 100%; margin: auto; height: 100px;" type="text" id="comment" placeholder="Kommentar">
        </div>

        <br>
      </div>

      <br>

      <div class="big-box" id="barBox" style="width: 99.2%; display: none;">
        <div style="height: 65px; margin-left: 10px;">
          <div style="padding-top: 16px; display: flex; margin-right: 10px;" id="bar"> </div>
        </div>
      </div>

      <br>

    </main>
    <footer>
      <script src="{{ url_for('static', filename='typ.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </footer>
  </body>
</html>
